/* Character Sheet CSS */

/* :root {
    --document-bg: black;
    --document-fg: GoldenRod;
    --page-bg: Ivory;
    --matte-bg: white;
    --theme-bg: #e4e5d0;
    --theme-fg: black;
    --calculated-bg: #FF9999;
    --calculated-fg: black;
}

body {
    background-color: var(--page-bg);
    
}

body > div {
    width: 75%;
    margin-right: auto;
    margin-left: 23%;
    padding: 1em;
    background-color: var(--matte-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 1000px;
}

body > div > div {
    width: 100%;
    background-color: var(--theme-bg);
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
} */

div.header {
	display: block;
	width: 100%;
	height: 130px;
	clear: left;
	background-color: black;
}

div.header div.title {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
    text-align: left;
    width: 98%;
    padding-top: .1em;
    padding-bottom: .1em;
    padding-right: 2%;
    background-color: black;
    color: var(--document-fg);
}

div.header > div.topborder {
    width: 100%;
    background-image: url('../images/border1.png');
    height: 25px;
}

div.header > div.bottomborder {
    width: 100%;
    background-image: url('../images/border1btm.png');
    height: 25px;
}

button {
    margin: .25em;
    background-color: green;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--document-fg);
}

button:disabled {
	opacity: 0.5;
    margin: .25em;
    background-color: green;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--document-fg);
}

span.sheetfield > input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    margin-left: .125em;
    margin-right: .125em;
}

.panel {
    float:left;
    width: 20%;
    margin-top: .25em;
    margin-bottom: .25em;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    text-align: center;
/*    display: block;
    margin-left: auto;
    margin-right: auto; */
}

personality-field::part(name) {
	width: 8em;
	font-weight: bold;
}

personality-field::part(value) {
	width: 70%;
}

calculated-field {
	padding-left: 2px;
}

calculated-field::part(label) {
	padding-right: 2px;
}

attribute-field {
	padding-left: 2px;
}

attribute-field::part(label) {
	padding-right: 2px;
}

select-field {
	padding-left: 2px;
}

select-field::part(label) {
	padding-right: 2px;
}

calculated-field::part(text) {
	display: inline-block;
	background-color: var(--calculated-bg);
	color: var(--calculated-fg);
    border-bottom: 1px solid black;
    vertical-align: baseline;
}

ability-field::part(wrapper) {
    width: 100%;
}

ability-field::part(label) {
    width: 45%;
    font-weight: bold;
    font-size: 1.5em;
    text-align: right;
}

ability-field#characterwealth {
	display: inline;
}

ability-field#characterwealth::part(label) {
    width: fit-content;
    font-weight: normal;
    font-size: 1em;
    text-align: right;
}

ability-field#characterwealth::part(wrapper) {
	display: inline;
}

.knacktable {
    border: 1px solid grey;
    width: 100%;
    font-weight: bold;
}

knack-field::part(wrapper) {
    clear: both;
    display: flex;
    margin-top: .25em;
    font-weight: normal;
}

knack-field::part(label) {
    flex: 2.3;
    font-size: .8em;
    text-align: right;
}

knack-field::part(abilitybonus) {
    flex: 1.1;
    text-align: center;
}

knack-field::part(check) {
    flex: .8;
    text-align: center;
}

knack-field::part(levelbonus) {
    flex: 1;
    text-align: center;
}

knack-field::part(permanentbonus) {
    flex: 1;
    text-align: center;
}

knack-field::part(totalbonus) {
    flex: 1;
    text-align: center;
}

.boxlabel {
    font-weight: bold;
    font-size: .75em;
}

boon-selector::part(label) {
    font-weight: bold;
    font-size: .75em;
}

equipment-selector::part(label) {
    font-weight: bold;
    font-size: .75em;
}

.attributetable {
    border: 1px solid grey;
}

.left {
    float: left;
    padding-right: 1em;
    padding-left: 1em;
}

.attributes {
    width: 40%;
}

.flexrow {
    clear: both;
    display: flex;
    margin-top: .25em;
}

.flexcell {
    flex: 1;
}

.sheetrow {
    margin-top: .25em;
    margin-bottom: .25em;
}

span.name {
    font-weight: bold;
}

.box {
    padding: .125em;
    margin: .25em;
    border: 1px solid grey;
}

dialog-widget.boonselecter::part(contents) {
	max-height: 800px;
	overflow-y: scroll;
}

