:root {
    --bodytable-header-bg: DarkBlue;
    --bodytable-header-fg: white;
    --bodytable-subheader-bg: blue;
    --bodytable-subheader-fg: black;
    --bodytable-bg: lightblue;
    --bodytable-fg: black;
    --atwill-bg: green;
    --atwill-fg: white;
    --intermittent-bg: sienna;
    --intermittent-fg: black;
    --vitality-bg: black;
    --vitality-fg: white;
    --martial-bg: red;
    --martial-fg: black;
    --elemental-bg: orange;
    --elemental-fg: black;
    --life-bg: DarkSeaGreen;
    --life-fg: black;
    --shadow-bg: grey;
    --shadow-fg: black;
    --spirit-bg: RoyalBlue;
    --spirit-fg: white;
    --heroic-bg: AliceBlue;
    --heroic-fg: black;
    --legendary-bg: Gainsboro;
    --legendary-fg: black;
    --mythic-bg: GoldenRod;
    --mythic-fg: black;
    --species-bg: LightSteelBlue;
    --species-fg: black;
    --calling-bg: LightYellow;
    --calling-fg: black;
    --companion-main-bg: DarkTurquoise;
    --companion-main-fg: white;
    --companion-secondary-bg: Turquoise;
    --companion-secondary-fg: black;
    --companion-bg: LightCyan;
    --aquatic-bg: aqua;
    --aquatic-fg: black;
    --boon-title-bg: RoyalBlue;
    --boon-title-fg: white;
    --boon-fg: black;
    --boon-bg: LightSteelBlue;
    
    --theme-bg: #e4e5d0;
    --theme-fg: black;
    --chapter-bg: #8a8d4e;
    --chapter-fg: white;
    --book-bg: #fdfdfc;
    --book-fg: black;
    --section-bg: #e4e5d0;
    --section-fg: black;
    --subsection-bg: #eaebda;
    --subsection-fg: black;
    --topic-bg: #eff0e3;
    --topic-fg: black;
    --document-bg: black;
    --document-fg: GoldenRod;
    --page-bg: Ivory;
    --matte-bg: white;
    --box-bg: #c4c798;
    --box-fg: black;
    --affliction-bg: MidnightBlue;
    --affliction-fg: white;
    --disease-bg: PaleGreen;
    --disease-fg: black;
    --wound-bg: Maroon;
    --wound-fg: white;
}

.theme-l5 {color:#000 !important; background-color:#fdfdfc !important}
.theme-l4 {color:#000 !important; background-color:#fafaf6 !important}
.theme-l3 {color:#000 !important; background-color:#f4f5ed !important}
.theme-l2 {color:#000 !important; background-color:#eff0e3 !important}
.theme-l1 {color:#000 !important; background-color:#eaebda !important}
.theme-d1 {color:#000 !important; background-color:#d4d6b5 !important}
.theme-d2 {color:#000 !important; background-color:#c4c798 !important}
.theme-d3 {color:#000 !important; background-color:#b4b77c !important}
.theme-d4 {color:#fff !important; background-color:#a4a760 !important}
.theme-d5 {color:#fff !important; background-color:#8a8d4e !important}

.theme-light {color:#000 !important; background-color:#fdfdfc !important}
.theme-dark {color:#fff !important; background-color:#8a8d4e !important}
.theme-action {color:#fff !important; background-color:#8a8d4e !important}

.theme {color:#000 !important; background-color:#e4e5d0 !important}
.text-theme {color:#e4e5d0 !important}
.border-theme {border-color:#e4e5d0 !important}

.hover-theme:hover {color:#000 !important; background-color:#e4e5d0 !important}
.hover-text-theme:hover {color:#e4e5d0 !important}
.hover-border-theme:hover {border-color:#e4e5d0 !important}

body {
	min-height: 100vh;
	width: 100%;
    background-color: var(--theme-bg);
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 0px;
}

.logo {
	height: 100%;
	float: left;
	clear: left;
}

.mainmenu {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.barmenu {
	cursor: pointer;
	position: relative;
	float: left;
}

.leftmenu {
	border-left: 0;
	border-right: 1px solid grey;
	margin-left: .5em;
	margin-right: 0;
	padding-left: .25em;
	padding-right: .25em;
	z-index: 10;
}

.middlemenu {
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	margin-right: 0;
	margin-left: 0;
	padding-right: .25em;
	padding-left: .25em;
}

.rightmenu {
	border-right: 0;
	border-left: 1px solid grey;
	margin-right: .5em;
	margin-left: 0;
	padding-right: .25em;
	padding-left: .25em;
}

.barmenu:hover {
	background-color: red;	
}

.mainmenu ul {
	display: none;
}

.mainmenu ul.active {
	list-style-type: none;
	display: block;
	position: absolute;
/*	width:100%; */
	margin: 0;
	padding: .125em;
/*	overflow: hidden; */
	top: 20px;
	left: 0px;
	background-color: lightgrey;
	border: 1px solid black;
}

.mainmenu ul li {
	background-color: lightgrey;
	width: 100%;
	float: left;
	padding: 0;
	cursor: pointer;
}

.mainmenu ul li:hover {
	background-color: blue;
	width: 100%;
	float: left;
	padding: 0;
	cursor: pointer;
}

.topbar {
	width: 100%;
	height: 50px;
	border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: black;
	clear: both;
	padding: 3px;
	box-sizing: border-box;
	position: relative;
}

.footer {
	clear: both;
	width: 100%;
	border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: black;
    font-size: .8em;
    padding: 3px;
}

.flexrow {
    clear: both;
    display: flex;
}

horizontal-sash {
	display: block;
	overflow: auto;
	height: 100%;
}

horizontal-sash::part(sashleft) {
	clear: left;
	float: left;
	padding: 3px;
}

horizontal-sash::part(sashright) {
	clear: right;
	float: left;
	padding: 3px;
}

horizontal-sash::part(dragbar) {
	border: 1px solid black;
	border-radius: 6px;
	width: 6px;
	float: left;
	background-color: lightgrey;
}

horizontal-sash::part(container) {
	clear: both;
	width: 100%;
	height: 100%;
}

tab-panel::part(tabcontents) {
	border: 1px solid black;
	background-color: white;
}

.tabbar {
	list-style-type: none;
	display: block;
	width:100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.tabbar > li {
	float: left;
	padding: 10px;
	background-color: lightgrey;
	border: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position:relative;
	border-bottom-width: 0px;
	overflow: visible;
	cursor: pointer;
	z-index: -1;
}

.tabbar > li:hover {
	background-color: white;
}

/* .tabbar > li.active:before {
	background-color: white;
	content: '';
	display: block;
	width: 100%;
	height: 15px;
	position: absolute;
	bottom: -11px;
	left:0px;
	z-index:10
} */

.tabbar > li.active {
	background-color: white;
	border-bottom: 0px;
}

.tabcontents {
	border-width: 0px;
	display: none;
}

.tabcontents.active {
	display: block;
}

.widgetpanel {
	text-align: right;
	width: 10em;
	right: 5px;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.dialogbutton {
	float: right;
}

.loginfield {
	clear: right;
	float: right;
}

.dialogtitle {
	font-size: 1em;
}

.errordialogmessage {
	color: #400;
}