:root {
    --bodytable-header-bg: DarkBlue;
    --bodytable-header-fg: white;
    --bodytable-subheader-bg: blue;
    --bodytable-subheader-fg: black;
    --bodytable-bg: lightblue;
    --bodytable-fg: black;
    --atwill-bg: green;
    --atwill-fg: white;
    --intermittent-bg: sienna;
    --intermittent-fg: black;
    --vitality-bg: black;
    --vitality-fg: white;
    --martial-bg: red;
    --martial-fg: black;
    --elemental-bg: orange;
    --elemental-fg: black;
    --life-bg: DarkSeaGreen;
    --life-fg: black;
    --shadow-bg: grey;
    --shadow-fg: black;
    --spirit-bg: RoyalBlue;
    --spirit-fg: white;
    --heroic-bg: AliceBlue;
    --heroic-fg: black;
    --legendary-bg: Gainsboro;
    --legendary-fg: black;
    --mythic-bg: GoldenRod;
    --mythic-fg: black;
    --species-bg: LightSteelBlue;
    --species-fg: black;
    --calling-bg: LightYellow;
    --calling-fg: black;
    --companion-main-bg: DarkTurquoise;
    --companion-main-fg: white;
    --companion-secondary-bg: Turquoise;
    --companion-secondary-fg: black;
    --companion-bg: LightCyan;
    --aquatic-bg: aqua;
    --aquatic-fg: black;
    --boon-title-bg: RoyalBlue;
    --boon-title-fg: white;
    --boon-fg: black;
    --boon-bg: LightSteelBlue;
    
    --theme-bg: #e4e5d0;
    --theme-bg-dark: #8a8d4e;
    --theme-fg: black;
    --theme-border: #b4b77c;
    --chapter-bg: #8a8d4e;
    --chapter-fg: white;
    --book-bg: #fdfdfc;
    --book-fg: black;
    --section-bg: #e4e5d0;
    --section-fg: black;
    --subsection-bg: #eaebda;
    --subsection-fg: black;
    --topic-bg: #eff0e3;
    --topic-fg: black;
    --document-bg: black;
    --document-fg: GoldenRod;
    --page-bg: Ivory;
    --matte-bg: white;
    --box-bg: #c4c798;
    --box-fg: black;
    --affliction-bg: MidnightBlue;
    --affliction-fg: white;
    --disease-bg: PaleGreen;
    --disease-fg: black;
    --wound-bg: Maroon;
    --wound-fg: white;
    --shadow-color: #606393;
}

.theme-l5 {color:#000 !important; background-color:#fdfdfc !important}
.theme-l4 {color:#000 !important; background-color:#fafaf6 !important}
.theme-l3 {color:#000 !important; background-color:#f4f5ed !important}
.theme-l2 {color:#000 !important; background-color:#eff0e3 !important}
.theme-l1 {color:#000 !important; background-color:#eaebda !important}
.theme-d1 {color:#000 !important; background-color:#d4d6b5 !important}
.theme-d2 {color:#000 !important; background-color:#c4c798 !important}
.theme-d3 {color:#000 !important; background-color:#b4b77c !important}
.theme-d4 {color:#fff !important; background-color:#a4a760 !important}
.theme-d5 {color:#fff !important; background-color:#8a8d4e !important}

.theme-light {color:#000 !important; background-color:#fdfdfc !important}
.theme-dark {color:#fff !important; background-color:#8a8d4e !important}
.theme-action {color:#fff !important; background-color:#8a8d4e !important}

.theme {color:#000 !important; background-color:#e4e5d0 !important}
.text-theme {color:#e4e5d0 !important}
.border-theme {border-color:#e4e5d0 !important}

.hover-theme:hover {color:#000 !important; background-color:#e4e5d0 !important}
.hover-text-theme:hover {color:#e4e5d0 !important}
.hover-border-theme:hover {border-color:#e4e5d0 !important}

html {
	height: 100%;
}

body {
	height: 92%;
	width: 100%;
    background-color: var(--theme-bg);
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 0px;
}

.logo {
	height: 100%;
	float: left;
	clear: left;
	filter: drop-shadow(3px 3px 5px var(--shadow-color));
}

.component {
	box-shadow: 3px 3px 5px 0px var(--shadow-color);
}
.mainmenu {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.mainmenu my-menu {
	list-style-type: none;
	margin: 0;
	margin-left: 2px;
	padding: 0;
	background-color: inherit;
}

my-menu.horizontal > my-menu-item {
	display: inline-block;
}

my-menu-item a {
	display: inline-block;
	color: inherit;
	text-decoration: inherit;
}

my-menu.vertical > my-menu-item > a {
	display: block;
}

my-menu-item.dropdown {
	 position: relative;
	 display: inline-block;
}

my-menu.dropdown-menu {
	background-color: inherit;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	z-index: 10;
	border: 1px solid var(--theme-border);
	border-radius: 5px;
	padding-left: 1px;
}

my-menu-item {
	margin: 0px;
	min-width: 60px;
}

.horizontal my-menu-item {
/*	margin-left: 5px;
	margin-right: 5px;
	border-right: 2px solid var(--theme-border);
	border-left: 2px solid var(--theme-border); */
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	border: 1px solid var(--theme-border);
	border-collapse: collapse;
}

.horizontal my-menu-item.left {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.horizontal my-menu-item.right {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.vertical my-menu-item {
	margin-left: 0px;
	margin-right: 0px;
	color: var(--theme-fg);
	background-color: var(--theme-bg);
	border: 0px;
	text-align: left;
}

my-menu-item:hover {
	color: var(--theme-fg);
	background-color: var(--theme-bg-dark);
	cursor: pointer;
}

/* .dropdown-menu:target {
  display: block;
} */

.visiblemenu {
	display: block !important;
}
	
.topbar {
	width: 100%;
	height: 50px;
	border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: black;
	clear: both;
	padding: 3px;
	box-sizing: border-box;
	position: relative;
}

.footer {
	clear: both;
	width: 100%;
	border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: black;
    font-size: .8em;
    padding: 3px;
}

.flexrow {
    clear: both;
    display: flex;
}

boon-viewer::part(sectiontitle) {
    display: block;
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 2%;
    background-color: black;
    color: var(--document-fg);
}

feat-viewer::part(sectiontitle) {
    display: block;
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 2%;
    background-color: black;
    color: var(--document-fg);
}

equipment-view::part(sectiontitle) {
    display: block;
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 2%;
    background-color: black;
    color: var(--document-fg);
}

.equipmentdetailrow {
	width: 100%;
	background-color: var(--theme-fg);
	color: var(--theme-bg);
}

.equipmentdetailrow:nth-child(odd) {
	background-color: var(--theme-bg-dark);
}

.equipmentdetaillabel {
	width: 15%;
	text-align: right;
	display: inline-block;
	padding-left: .25em;
	padding-right: .25em;
	font-style: italic;
}

.equipmentdetailvalue {
	width: 75%;
	padding-left: .25em;
	padding-right: .25em;
}

.equipmentdetailtitle {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0px;
}

.bold {
    font-weight: bold;
}

.martial {
    background-color: var(--martial-bg);
    color: var(--martial-fg);
}

.elemental {
    background-color: var(--elemental-bg);
    color: var(--elemental-fg);
}

.life {
    background-color: var(--life-bg);
    color: var(--life-fg);
}

.shadow {
    background-color: var(--shadow-bg);
    color: var(--shadow-fg);
}

.spirit {
    background-color: var(--spirit-bg);
    color: var(--spirit-fg);
}

.time {
	background-color: var(--time-bg);
	color: var(--time-fg);
}

.fate {
	background-color: var(--fate-bg);
	color: var(--fate-fg);
}

.none {
    background-color: lightgrey;
    color: black;
}

.heroic {
    color: var(--heroic-fg);
    background-color: var(--heroic-bg);
}

.legendary {
    color: var(--legendary-fg);
    background-color: var(--legendary-bg);
}

.mythic {
    color: var(--mythic-fg);
    background-color: var(--mythic-bg);
}

.flavortext {
    display: block !important;
    width: 100%;
    font-style: italic;
    text-align: center;
}

section.boonbox {
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
}

section.boon {
    border: 1px solid black;
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
}

section.boon > .traits > :first-child {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: var(--boon-title-bg);
    color: var(--boon-title-fg);
    padding: .125em;
    border-bottom: 1px solid grey;
}

section.boon > .traits > :not(:first-child) {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: var(--boon-bg);
    color: var(--boon-fg);
    padding: .125em;
}

section.boon > .traits > .widetrait {
    width: 100%;
    display: block;
    background-color: var(--boon-bg);
    color: var(--boon-fg);
}

section.boon > .traits > .widetrait > p {
    padding-left: 0;
    margin-left: 0;
}

section.boon > .traits > .trait > div {
    width: 50%;
}

section.boon > .traits > .trait > :not(:first-child) {
    width: 50%;
    text-align: right;
}

section.feat {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
}

section.feat > .traits > :first-child {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: .125em;
    border-bottom: 1px solid grey;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section.feat > .traits > :not(:first-child) {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: inherit;
    color: inherit;
    padding: .125em;
}

section.feat > .traits > .widetrait {
    width: 100%;
    display: block;
    background-color: inherit;
    color: inherit;
}

section.feat > .traits > .widetrait > p {
    padding-left: 0;
    margin-left: 0;
}

section.feat > .traits > .widetrait > span {
	padding-right: .2em;
}

section.feat > .traits > .trait > div {
    width: 50%;
}

section.feat > .traits > .trait > :not(:first-child) {
    width: 50%;
    text-align: right;
}


horizontal-sash {
	display: block;
/*	overflow: auto; */
	height: 100%;
}

horizontal-sash::part(sashleft) {
	clear: left;
	float: left;
	padding: 3px;
}

horizontal-sash::part(sashright) {
	clear: right;
	float: left;
	padding: 3px;
	overflow-y: scroll;
}

horizontal-sash::part(dragbar) {
	border: 1px solid black;
	border-radius: 6px;
	width: 6px;
	float: left;
	background-color: lightgrey;
	box-shadow: 3px 3px 5px 0px var(--shadow-color);
}

horizontal-sash::part(container) {
	clear: both;
	width: 100%;
	height: 100%;
}

tab-panel::part(tabcontents) {
	border: 1px solid black;
	background-color: white;
}

/* div.tabpanel div#tabs ul tab-item.active */

tab-panel::part(tabbar) {
	list-style-type: none;
	display: block;
	width:100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

tab-panel::part(tabitem) {
	display:list-item;
	float: left;
	padding: 10px;
	background-color: lightgrey;
	border: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position:relative;
	border-bottom-width: 0px;
	overflow: visible;
	cursor: pointer;
/*	z-index: -1; */
}

tab-panel::part(tabitem):hover {
	background-color: white;
	cursor:grab;
}

/* .tabbar > li.active:before {
	background-color: white;
	content: '';
	display: block;
	width: 100%;
	height: 15px;
	position: absolute;
	bottom: -11px;
	left:0px;
	z-index:10
} */

tab-panel::part(tiactive) {
	background-color: white;
	border-bottom: 0px;
}

tab-panel::part(tabbody) {
	border-width: 0px;
	display: none;
}

tab-panel::part(tbactive) {
	display: block;
}

.widgetpanel {
	text-align: right;
	width: 10em;
	right: 5px;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.dialogbutton {
	float: right;
}

.loginfield {
	clear: right;
	float: right;
}

.dialogtitle {
	font-size: 1em;
}

.errordialogmessage {
	color: #400;
}